*{
	margin:0;
}
body{
	background: #f0f0f0;
	font:12px "Microsoft Yahei";
	color: #666;
}
@media screen and (max-width: 1000px){
	#header,#section,#footer{
		width: 1000px;
	}
}
@media screen and (min-width: 1000px){
	#header,#section,#footer{
		width: 100%;
	}
}
#header{
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid #bebebe;
}
.topHeader1{
	margin-left: 50px;
	font-size: 30px;
	font-weight: bold;
}
.topHeader2{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #bebebe;
}
.important{
	color: #f00;
}
#section{
	height: 600px;
}
#nav{
	width: 200px;
	height: 600px;
	border-right: 1px solid #bebebe;
}
#nav ul{
	list-style-type: none;
}
#nav a{
	display: block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-bottom: 1px solid #bebebe;
	text-decoration: none;
	color: #666;
}
#nav a:link,#nav a:visited{
	background: -webkit-linear-gradient(top,#fefefe,#f0f0f0);
}
#nav a:hover,#nav a:active{
	background: #f0f0f0;
}
#nav a.active{
	background: #00f;
	color: #fff;
}
#content{
	position: absolute;
	top:100px;
	left: 200px;
}
.tab{
	width: 100%;
	border: 1px solid #bebebe;
}
.tabHeader{
	width: 98%;
	padding: 0 1%; 
	height: 30px;
	background: -webkit-linear-gradient(top,#fefefe,#f0f0f0);
	border-bottom: 1px solid #bebebe;
	font-weight: bold;
	line-height: 30px;
}
.tabContent{
	width: 98%;
	padding: 0 1%;
	line-height: 30px;
}
.tab3{
	width: 600px;
	margin: 30px 100px;
}
.more{
	float: right;
	line-height: 30px;
	color: #00a1e9;
	text-decoration: none;
}
.more:hover{
	text-decoration: underline;
}
div.row{
	border-bottom: 1px dashed #bebebe;
	width: 100%;
	height: 30px;
	line-height: 30px;
}
div.row:last-child{
	border-bottom: 0;	
}
div.span40p{
	float: left;
	width: 40%;
}
div.span80p{
	float: left;
	width: 80%;
}
div.span20p{
	float: left;
	width: 20%;
}
#status{
	display:none;
}
input[type="file"]{
	display: inline-block;
	margin: 20px 0;
	width: 600px;
	height: 40px;
	border: 1px solid #bebebe;
	border-radius: 5px;
	outline: none;
}
input[type="submit"]{
	display: none;
	float: right;
	margin: 20px 0;
	width: 200px;
	height: 40px;
	border: 1px solid #bebebe;
	border-radius: 5px;
	background:-webkit-linear-gradient(top,#fefefe,#f0f0f0);
	cursor:pointer;
}
#uplabel{
	display: block;
	float: right;
	margin: 20px 0;
	width: 200px;
	height: 40px;
	border: 1px solid #bebebe;
	border-radius: 5px;
	background-color: #aaaaaa;
	cursor:pointer;
}
#chosentext{
	display: none;
}
.textleft{
	text-align: left;
}
.textcenter{
	text-align: center;
}
.textright{
	text-align: right;
}
#footer{
	height: 100px;
	border-top: 1px solid #bebebe;
}
label{
	display: inline-block;
	width: 580px;
	font-size: 15px;	
}
label:hover{
	background-color: #e0ffe0;
	cursor: pointer;
}
.span1{
	width: 80px;
	float: left;
	font-size: 15px;
}
.span11{
	width: 520px;
	float: left;
	font-size: 15px;
}
#schoolcontainer{
	width: 600px;
	height: 200px;
	overflow-y: scroll;
	border: 1px solid #bebebe;
	margin: 20px 0;
}