 body{margin:0;padding:0;font-size:14px;color:#616161;line-height:19px;font-family:"Microsoft Yahei";}
 a{color:#616161;text-decoration:none}
a:hover{text-decoration:underline}
.xw,.xw li{padding:0;margin:0;}
.xw{margin-top:8px;font-size:14px;margin-bottom:0px;overflow:hidden;margin-left:10px;margin-top:10px;padding-bottom:5px;float:left;clear:both;}
.xw li{border-bottom:1px #ddd dashed;padding:0px;background:url(images/X.jpg) no-repeat 0 8px;padding-left:10px;list-style-type:none;line-height:28px;width:680px;float:left;}
.xw li a{float:left}
.xw li font{display:none}


.RU-pagebar{ 
	font-family:Verdana; 
	font-size:13px;
	float:right;
}
.RU-pagebar a,.RU-pagebar span{ 
	padding:5px 8px; 
	border:1px solid #ddd; 
	background:#ebebeb; 
	margin-right:10px; 
	text-decoration:none; 
	color:#383838;
}
.RU-pagebar .RU-pagenow{ 
	padding:5px 8px; 
	border:1px solid #009dd7; 
	margin-right:10px; 
	background:#00b2f4; 
	color:#fff;
}
.RU-pagebar .RU-pagedisabled{ 
	color:#bbb; 
	background:#eee
}